@import url(https://db.onlinewebfonts.com/c/0a086e32e41c5e5960b26626757f07f3?family=Apercu+Regular);
body{
    background-image:linear-gradient(rgba(10, 3, 46, 0.728),rgba(10, 3, 46, 0.728)) ,url(blog-images/Library.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    margin: 0%;
    height: 200vh;
    font-family: "Apercu Regular";
}
header{
    position: fixed;
    z-index: 1;
    top: 0;
    background-color:white;

    nav{
        margin-left:80% ;
        width: 100vw;
    }
nav ul a{
    
    text-decoration: none;
    color:rgb(23, 23, 48);
    margin:0 1%;
   
}
}
.blog{

    position: relative;
  
}

.welcome-to-my-blog{
    margin-top: 10vh;
    margin-left: 10vh;
    h1{
        text-align: center;
        color: aliceblue;
        font-size: 5vh;
    }
}
.overview{
    margin: 5vh;
    display: flex;
    background-color: white;
    gap: 1vw;
    width: 40vw;
    height: 40vh;
    color: black;
    box-shadow : 0px 1px 4px 4px rgb(13, 13, 36);
    img{
        margin: 2vh;
        width: 13vw;
        height: 35vh;
      
    }
}
.about-the-author{
    margin-top: -30vh;
    margin-left: 110vh;
    display: flex;
    background-color: white;
    gap: 1vw;
    width: 40vw;
    height: 40vh;
    color: black;
    box-shadow : 0px 1px 4px 4px rgb(13, 13, 36);
    img{
        margin: 3vh;
        width: 19vw;
        height: 35vh;
        border-radius: 0vh;
    }
}
.overview-content
{
    width: 25vw;
    margin: 4vh;
h2{
    font-size: 4vh;
}
p{
    font-size: 2vh;
}
}
.about-the-author-content
{
    width: 35vw;
    margin: 4vh;
h2{
    font-size: 3vh;
}
p{
    font-size: 2vh;
}
}

.about-born-a-crime{
    margin-top: 18vh;
    margin-left: 60vh;
    width: 30vw;
    padding: 10vh;
    background-color: white;
    box-shadow : 0px 1px 4px 4px rgb(13, 13, 36);
    color: black;
    h1{
        text-align: center;
        font-size: 30px;
    }
    h2{
        text-align:justify;
        font-size: 25px;
        line-height: 35px;
        
    }
    p{
        font-weight: 64;
        font-size: 20px;
        line-height: 20px;
    }
}
footer{
    position: fixed;
    bottom: 0;
    width: 100vw;
    height:8vh;
    background-color:rgb(23, 23, 48);
p{
    margin-top:2%;
    text-align: center;
    color: #fff;
}
}

@media only screen and (min-width:320px) and (max-width:480px){
    body{
        background-size:200vh;
        
        margin: 0%;
        
    }
    header{
        nav{
            margin-left:25% ;
            width: 100vw;
        }
    nav ul a{
        
      font-size: 1.8vh;
       
    }
    }
    .blog{
    
        position: relative;
      
    }
    
    .welcome-to-my-blog{
        margin: 8vh 5vh;
        h1{
            text-align: center;
            color: aliceblue;
            font-size: 3vh;
    
        }
        nav{
            text-align: center;
        }
        nav ul a{
            margin:0 2%;
        }
    }
    .overview{
        margin: 2vh;
        display: flex;
        background-color: white;
        width: 90vw;
        height: 38vh;
        color: black;
        box-shadow : 0px 1px 4px 4px rgb(13, 13, 36);
        img{
            margin: 2 50vh;
            width: 20vw;
            height: 12vh;
          
        }
        p{
            overflow: auto;
            height:20vh;
            width:80vw;

        }
    }
    .about-the-author{
        margin: 2vh;
        display: flex;
        background-color: white;
        width: 90vw;
        height: 34vh;
        color: black;
        box-shadow : 0px 1px 4px 4px rgb(13, 13, 36);
        img{
            margin: 2 50vh;
            width: 30vw;
            height: 10vh;
          
        }
        p{
            overflow: auto;
            height:15vh;
            width:80vw;

        }
    }
    .overview-content
    {
        width: 35vw;
        margin: 2vh;
    h2{
        font-size: 3vh;
    }
    p{
        font-size: 2vh;
    }
    }
    .about-the-author-content
    {
        width: 35vw;
        margin: 2vh;
    h2{
        font-size: 3vh;
    }
    p{
        font-size: 2vh;
    }
    }
    
    .about-born-a-crime{
        margin-top: 18vh;
        margin-left: 2vh;
        width: 35vw;
        background-color: white;
        box-shadow : 0px 1px 4px 4px rgb(13, 13, 36);
        color: black;
     
    }
    .about-born-a-crime-content{
        overflow: auto;
        margin-left: -8vh;
        width: 28vh;
        height: 75vh;
    h2{
        font-size: 2vh;
    }
    p{
        font-size: 2vh;
    }
        h1{
            text-align: center;
            font-size: 4vh;
        }
       
    }
}
  @media only screen and (min-width:480px)and (max-width:640px){
    body{
        background-size:200vh;
        
        margin: 0%;
        
    }
    header{
        nav{
            margin-left:25% ;
            width: 100vw;
        }
    nav ul a{
        
      font-size: 1.8vh;
       
    }
    }
    .blog{
    
        position: relative;
      
    }
    
    .welcome-to-my-blog{
        margin: 8vh 5vh;
        h1{
            text-align: center;
            color: aliceblue;
            font-size: 3vh;
    
        }
        nav{
            text-align: center;
        }
        nav ul a{
            margin:0 2%;
        }
    }
    .overview{
        margin: 2vh;
        display: flex;
        background-color: white;
        width: 90vw;
        height: 38vh;
        color: black;
        box-shadow : 0px 1px 4px 4px rgb(13, 13, 36);
        img{
            margin: 2 50vh;
            width: 20vw;
            height: 12vh;
          
        }
        p{
            overflow: auto;
            height:20vh;
            width:80vw;

        }
    }
    .about-the-author{
        margin: 2vh;
        display: flex;
        background-color: white;
        width: 90vw;
        height: 34vh;
        color: black;
        box-shadow : 0px 1px 4px 4px rgb(13, 13, 36);
        img{
            margin: 2 50vh;
            width: 30vw;
            height: 10vh;
          
        }
        p{
            overflow: auto;
            height:15vh;
            width:80vw;

        }
    }
    .overview-content
    {
        width: 35vw;
        margin: 2vh;
    h2{
        font-size: 3vh;
    }
    p{
        font-size: 2vh;
    }
    }
    .about-the-author-content
    {
        width: 35vw;
        margin: 2vh;
    h2{
        font-size: 3vh;
    }
    p{
        font-size: 2vh;
    }
    }
    
    .about-born-a-crime{
        margin-top: 18vh;
        margin-left: 2vh;
        width: 35vw;
        background-color: white;
        box-shadow : 0px 1px 4px 4px rgb(13, 13, 36);
        color: black;
     
    }
    .about-born-a-crime-content{
        overflow: auto;
        margin-left: -8vh;
        width: 28vh;
        height: 75vh;
    h2{
        font-size: 2vh;
    }
    p{
        font-size: 2vh;
    }
        h1{
            text-align: center;
            font-size: 4vh;
        }
       
    }
  }
